html {
  a:link,
  a:visited,
  a:active,
  .btn {
    text-decoration: none !important;
  }
}

/*INICIO - FONTS*/
@font-face {
  font-family: latolight;
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: latolightItalic;
  src: url("../fonts/Lato-LightItalic.ttf");
}
@font-face {
  font-family: latoRegular;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: latoRegularItalic;
  src: url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: latoBold;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: latoBoldItalic;
  src: url("../fonts/Lato-BoldItalic.ttf");
}
@font-face {
  font-family: latoBlack;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: latoBlackItalic;
  src: url("../fonts/Lato-BlackItalic.ttf");
}

/* FIN - FONTS */




.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* INICIO - COLORS */
$colorAzul1: #1f2f59;
$colorAzul2: #174a9a;
$colorAzul3: #0059ea;
$colorAzul4: #00b0ea;
$colorAzul5: #b9e1ff;
$colorAzul6: #0b316d;
$colorGris1: #6f6f6e;
$colorGris2: #b2b2b2;
$colorGris3: #d9d9d9;
$colorGris4: #ededed;
$colorGris5: #f7f7f7;
$colorRojo1: #df171c;
$colorRojo2: #f61c36;
.colorRojo1 {
  color: $colorRojo1 !important;
  font-family: latoBold;
}
.colorAzul1 {
  color: $colorAzul1 !important;
}
/* FIN - COLORS */

.uk-modal-dialog {
  border-radius: 20px !important;
  .uk-close:focus,
  .uk-close:hover {
    color: white !important;
    transition: all 0.2s ease-in-out;
  }
  .uk-close:hover {
    transform: scale(1.1);
  }

  button {
    background-color: $colorRojo2;
    font-family: latoBold !important;
    color: white;
    border-radius: 45px;
    width: 40px;
    height: 40px;
  }

  .uk-modal-header,
  .uk-modal-footer {
    border-radius: 20px !important;
    border-bottom: 0px;
    border-top: 0px;
  }
  .uk-modal-header {
    padding-bottom: 0;
    img {
      margin-top: 20px;
      width: 120px;
    }
    .subtitulo {
      color: $colorAzul1 !important;
      font-size: 1.2rem;
      font-family: latoBold;
    }
  }
  .uk-modal-body {
    padding-bottom: 10px;
  }
  .buttonModal1 {
    background-color: $colorRojo2 !important;
    border-color: $colorRojo2 !important;
  }
}

.carousel-control-next-icon {
  background-image: url("../img/icons/flechaDer.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("../img/icons/flechaIzq.svg") !important;
}

// Animation
@keyframes jump {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 25px;
  }
}

/* inicio - botones de colores */
.buttonAzul3 {
  background-color: $colorAzul4 !important;
  border: 1px solid $colorAzul4 !important;
  color: white !important;
}
/* fin - botones de colores */

/* inicio - navbar */
header {
  height: 56px;
  background-color: $colorAzul3;
  nav {
    background-color: $colorAzul3;
    height: 56px;
  }
}
.containerHamburger {
  background-color: white;
  width: 58px;
  height: 56px;
  float: left;
  .subContainerHamburger {
    width: 58px;
    height: 56px;
    background-color: $colorAzul2;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 9px 10px 10px 13px;
    border-top-left-radius: 20px;
    display: inline-block;
    cursor: pointer;
  }
}

.containerLogo {
  /*   width: 100px;
  background-color: $colorGris4;
  height: 56px;
  border-bottom-right-radius: 20px; */
  float: left;
}

.containerForoAndHelp {
  width: 130px;
  background-color: $colorRojo2;
  height: 56px;
  border-bottom-left-radius: 20px;
  float: right;
  /* padding: 0 7px 0 7px; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .subContainerForoAndHelp {
    a {
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      transform: scale(1.1);
    }
    /* width: 112px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    /* background-color: green; */
    margin-left: 15px;
    img {
      margin: 0 7px 0 7px;
    }
  }
}
/* fin - navbar */

/* start - slideshow */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: #0d2b5a;
  border-radius: 20px !important;
  overflow: hidden;
  /* border: 1px solid #fafafa; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  border-color: $colorRojo2;
  user-select: none;
  background-color: $colorRojo2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: $colorRojo1;
}

/* Caption text */
.text {
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  .subText {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: $colorRojo2;
    border-radius: 20px 20px 0 0;
    max-width: 30%;
  }
}

/* Number text (1/3 etc) */
.numberSlide {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: $colorRojo2;
  border-radius: 0 0 20px 0;
  font-weight: 700;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $colorRojo1;
}

/* Fading animation */

.fadeIn {
  animation: fadeIn ease 1.2s;
  -webkit-animation: fadeIn ease 1.2s;
  -moz-animation: fadeIn ease 1.2s;
  -o-animation: fadeIn ease 1.2s;
  -ms-animation: fadeIn ease 1.2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* end - slideshow */

.containerFeedback {
  width: 100%;
  background-color: $colorAzul4;
  border-radius: 20px 0 20px 0;
  display: flex;
  position: relative;
  .firuleteVolador {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 35px;
    width: 50px;
  }
  .contentFeedback1 {
    background-color: $colorAzul3;
    border-radius: 20px 0 20px 0;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    img {
      width: 30%;
      padding: 15px 0 15px 0;
    }
    .titleFeedback {
      width: 65%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      h3 {
        font-size: 1.5rem;
        font-family: latoBold;
        color: white;
        margin: 0;
      }
    }
  }
  .contentFeedback2 {
    background-color: $colorAzul4;
    border-radius: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 30px 15px 0;
    .piquitoAzulUp {
      content: "";
      /* position: absolute; */
      height: 20px;
      border-bottom: 10px solid $colorAzul3;
      border-right: 20px solid transparent;
      border-left: 0px solid transparent;
      margin-right: 30px;
    }
    .piquitoAzulDown {
      content: "";
      /* position: absolute; */
      height: 20px;
      border-top: 10px solid $colorAzul3;
      border-right: 20px solid transparent;
      border-left: 0px solid transparent;
      margin-right: 30px;
    }
    .textFeedback {
      width: 100%px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding-right: 30px;
      p {
        color: white;
        font-family: latoBold;
        margin: 0;
      }
    }

    .containerLink {
      width: 250px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      .botonPrimary {
        background-color: $colorRojo1 !important;
        border: 1px solid $colorRojo1 !important;
      }
    }
  }
}



.imgCentrada50 {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    max-width: 683px;
  }
}
// Button/Arrow
#arrow-down {
  animation: jump 3s infinite;
}

.titulo {
  font-size: 1.5rem;
  padding-left: 25px;
  font-family: latoRegular;
}

.subtitulo {
  font-size: 1.2rem;
  color: $colorGris1;
  margin-top: 50px;
}

.ulChecks {
  list-style: none;
  ul {
    list-style: none;
    li {
      img {
        width: 15px;
      }
    }
  }
  li {
    color: $colorGris1;
    margin-bottom: 5px;
    img {
      width: 20px;
      padding-bottom: 7px;
      margin-right: 5px;
    }
  }
}

.ulChecksAzul {
  list-style: none;
  ul {
    list-style: none;
    li {
      img {
        width: 15px;
      }
    }
  }
  li {
    color: $colorGris1;
    margin-bottom: 5px;
    img {
      width: 15px;
      padding-bottom: 5px;
      margin-right: 5px;
    }
  }
}

.olNumbers {
  list-style: none;
  li {
    color: $colorGris1;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img {
      width: 100%;
      padding-bottom: 7px;
      margin-right: 5px;
    }
  }
}


/* start - containerCards */
.containerCards{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    min-width: 200px;
    max-width: 330px;
    margin: 10px;
    border-radius: 20px;
    height: 100%;
    .containerImg{
      _background-color: red;
      width: 100%;
      height: 120px;
      display: flex;    
      align-content: center;
      justify-content: center;
      align-items: center;
      .subContainerImg{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        img{
          width: 50%;
        }
      }
    }
    
    .container {
      padding: 0 15px 30px 15px;
      text-align: center;
      display: inline-block;
      
      h4{
        height: 50px;
        margin-bottom: 20px;
        color: $colorGris1;
        font-size: 1rem;
      }
      p{
        height: 70px;
        font-size: .9rem;
      }
    }
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}


/* end - containerCards */





.actividadContainer {
  .actividadBanner {
    background-color: $colorAzul4;
    color: white;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid $colorAzul4; */
    .bannerCaja1 {
      background-color: $colorRojo2;
      border-radius: 20px 0 20px 0;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 20px;
      width: 350px;
      h2 {
        font-size: 1.5rem;
        font-family: latoRegular;
        color: white;
        margin: 0;
      }
      height: 100px;
    }
    .bannerCaja2 {
      background-color: $colorGris4;
      width: 100px;
      padding: 15px;
      border-radius: 0 20px 0 20px;
    }
  }
  .actividadIframe {
    border-radius: 0 0 20px 20px;
    border: 3px solid $colorAzul4;
    border-top: 0;
    padding: 10px;
    background-color: white;
  }
}


.containerIconoMasTexto {
  _background-color: yellow;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  _padding: 25px 15px 25px 15px;
  padding: 25px 0 25px 0;
  .caja1 {
    width: 30%;
    _background-color: $colorGris2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 250px;

    img{
      max-width: 130px;
    }
  }
  .caja2 {
    width: 100%;
    _background-color: $colorGris3;
    .subtitulo{
      margin: 0!important;
      margin-bottom: 20px!important;
    }
    p,ul{
      margin: 0!important;
      color: $colorGris1;
    }
    
  }
}




.containerIconoMasLista50-50 {
  _background-color: yellow;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 15px 25px 15px;
  .caja1 {
    width: 50%;
    _background-color: $colorGris2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 200px;
  }
  .caja2 {
    _width: 100%;
    _background-color: $colorGris3;
    .subtitulo{
      margin: 0!important;
      margin-bottom: 20px!important;
     
    }
    ul{
      margin: 0 0 0 15px;
      color: $colorGris1;
    }
    p{
      margin: 0!important;
    }
  }
}





.bannerTitulo {
  background-color: $colorAzul2;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
  h1 {
    color: white !important;
    font-size: 1.2rem !important;
    font-family: latoBold !important;
    margin: 0;
  }
  .bannerCaja {
    background-color: $colorGris2;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 20px;
    width: 100px;
    padding: 15px;
  }
  .bannerCaja2 {
    background-color: $colorGris3;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 20px;
    width: 100px;
    padding: 15px;
  }
}

.bannerTituloDestacado {
  background-color: $colorAzul4;
  color: white !important;
  border-bottom-right-radius: 20px;
  display: flex;
  align-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
  .cajaIcono {
    width: 200px;
    padding: 15px;
    margin-left: 15px;
    img {
      width: 125%;
    }
  }
  .cajaTitulo {
    width: 40%;
    padding-left: 10px;
    margin: 15px 15px 15px 0;
    h1 {
      font-family: latoBold;
      font-size: 2rem;
      padding-right: 20px;
      border-right: 3px solid white;
      color: white;
      margin: 0!important;
    }
  }
  .cajaTexto {
    width: 70%;
    padding: 15px;
    margin-right: 15px;
  }
  .firuleteDestacado {
    height: 100px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    img {
      width: 70px;
    }
  }
}
.navbar-brand {
  margin-top: -13px !important;
  margin-bottom: -13px !important;
  margin-left: -16px !important;
}

.linkActive {
  pointer-events: none;
  li {
    font-family: latoBold !important;
    color: $colorAzul4 !important;
    pointer-events: none;
  }
}

.linkDisable {
  pointer-events: none;
  display: none;
  li {
    color: $colorAzul3 !important;
    pointer-events: none;
  }
}

.visibleInSmallScreen {
  display: none;
}

/* body {
  background-color: $colorGris5;
} */

html {
  font-family: latoRegular;
}

p {
  font-family: latoRegular;
  color: $colorGris1;
}

h1 {
  font-family: latoBlack;
}

nav {
  font-family: latoBlack;
}

.bg-dark {
  background-color: $colorAzul3 !important;
}

.lateralNav {
  width: 292px !important;
  font-size: 1rem;
  min-width: 292px;
  background-color: $colorAzul1;
  overflow-y: auto;
  /* display: flex; */
  padding: 0;
  /* overflow-y: auto; */
  height: 100%;
  width: 100%;
  ul {
    list-style: none;
    padding-left: 15px;
    li {
      font-family: latoLight;
      color: white;
      font-size: 0.9rem;
      transition: all 0.2s ease-in-out;
    }
    li:hover {
      color: $colorAzul4;
    }
  }
}

#myLinks {
  margin-top: -10px;
}
.icoMenu {
  width: 30px;
  margin-right: 10px;
}

.topNav {
  width: 100%;
}


/*
***********************************
    start - menu gestiones
***********************************
*/
#accordionGestiones, #accordionGestionesMobile{
  display: none;
  transition: all 0.2s ease-in-out;
}


.itemMenu{
  width: 100%;
  display: flex;
  align-items: center;
}

.iconoMenu{
  margin: 0 10px 0 0;
}

.nombreMenu{
  width: 100%;
}
.tituloGestiones{
  margin: 0 30px 0 30px;
  max-width: 230px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 67px;
  _background-color: red;
  border-bottom: 3px solid #00499D;
  _padding-bottom: 10px;
  
}
.tituloGestiones  p{
  font-family: latoBold;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.tituloGestiones hr{
  margin: 0;      
  color: #00499D;
}

#accordionGestiones, #accordionGestionesMobile{
 .card{
   background-color: #025ABE!important;
   .card-body{
    border-bottom-right-radius: 20px!important;
   }
 }
}


#accordionExample, #accordionExampleMobile{
  .card{
    .card-body{
     border-bottom-right-radius: 20px!important;
     background-color: #0B316D;
    }
  }
 }
/* .menuGestiones{
  background-color: #025ABE!important;
} */

/*
***********************************
    end - menu gestiones
***********************************
*/



.mainContainer{
  width: 100%;
  background-color: white;
  overflow-y: auto;
  padding-bottom: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  main{
    max-width: 1366px;
  }
}
main {
  width: 100%;
  background-color: white;
  
}

.principalContainer {
  display: flex;
  padding: 0;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 107px;
  img {
    border-radius: 5px;
  }
}

.tip {
  background-color: $colorRojo2;
  border: 1px solid $colorRojo2;
  border-radius: 12px;
  font-family: latoRegularItalic;
  color: white;
  padding: 6px;
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  p{
    color: white;
    margin: 0;
  }
  img {
    width: 40px;
    margin: 0 7px 0 7px;
  }
}

.tipAlternativo {
  background-color: $colorGris2 !important;
  border: 1px solid $colorGris2 !important;
}

.consultaBase {
  background-color: $colorGris3;
  border: 1px solid $colorGris3;
  border-radius: 20px;
  padding: 5px 35px 5px 35px;
  font-family: latoRegularItalic;
  color: $colorGris1;
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  img {
    width: 120px;
    min-width: 120px;
    margin: 0 30px 0 7px;
  }
  b {
    color: $colorAzul6;
  }
  p{
    margin: 0;
  }
}

.fullContainer {
  height: 100vh;
  /* padding-bottom: 56.85px; */
  /* padding-top: 56px; */
  overflow-y: hidden;
  padding: 0;
  _background-color: $colorAzul1;
}

section {
  padding-right: 40px;
  padding-left: 40px;
}

.ruta {
  padding-left: 40px;
  ul {
    list-style: none !important;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    padding-left: 0 !important;
    li {
      margin: 7px 2px 7px 2px !important;
      color: $colorGris1;
      font-family: latoRegular;
      font-size: 1rem;
      :hover {
        text-decoration: overline;
      }
    }
  }
  a {
    color: $colorGris1;
    font-family: latoLight;
    font-size: 1rem;
    :hover {
      transform: scale(1.1);
    }
  }
}

.accordion {
  .card {
    background-color: $colorAzul6 !important;
    border: none !important;
    width: 292px !important;
    margin: 0 !important;
  }
  .card-header {
    color: white !important;
    background-color: $colorAzul1 !important;
    text-align: left !important;
  }
  .card-header:hover {
    border: none;
  }
  .btn-link {
    color: white;
    font-size: 1rem !important;
    font-weight: 400 !important;
    text-align: left;
  }
  .card-body {
    text-align: left !important;
  }
  .btn:focus {
    box-shadow: none;
  }
}





/* start - animación .loader */
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid $colorAzul1;
  border-right: 14px solid $colorAzul4;
  border-bottom: 14px solid $colorRojo1;
  border-left: 14px solid $colorAzul2;
  width: 69px;
  height: 69px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
/*       .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
      }
      
      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }
      
      @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
      } */
/* end - animación loader */

.uk-modal {
  z-index: 1050 !important;
}

/* Inicio - footer */
footer{
  background-color: $colorAzul2;
  height: 52px;
}
nav {
  /* background-color: $colorAzul2; */
  color: white;
  font-family: latoLight;
  display: flex;
  justify-content: space-between;
  .footerDerecho {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $colorAzul4;
    padding: 0;
    /* padding-left: 30px; */
    border: 1px solid $colorAzul4;
    border-top-left-radius: 30px;
    .recuadro {
      background-color: white;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
    .recuadrito {
      background-color: $colorAzul4;
      border: 1px solid $colorAzul4;
      /* padding-right: 15px; */
      border-bottom-right-radius: 30px;
      height: 100%;
      width: 30px;
    }
    .brands {
      width: 355px;
      /*       padding-bottom: 15px; */
      display: flex;
      justify-content: center;
    }
  }

  .footerIzquierdo {
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    .textFooter {
      font-size: 0.9rem;
    }
    .fontRegular {
      font-family: latoRegular;
      .colorAzul4 {
        color: $colorAzul4;
      }
    }
  }
}

.containerVideos {
  width: 100%;
  padding: 10px 0 15px 0;
  display: flex;
  justify-content: space-between;

  .separador {
    width: 3px;
    background-color: $colorAzul2;
    margin: 55px 0 55px 0;
  }
  .containerVideo {
    width: 40%;
    text-align: left;
    .textVideo {
      width: 50%;
      margin-left: 15px;
      background-color: $colorAzul2;
      color: white;
      font-size: 1rem;
      font-family: latoBold;
      padding: 10px 20px 5px 20px;
      border-radius: 20px 20px 0 0;
      /* min-height: 5rem; */
      display: flex;
      align-items: center;
    }
    .containertImg {
      text-align: center;
      p {
        margin-top: 10px;
        text-align: left;
        min-height: 65px;
      }
    }

    img {
      width: 100%;
      background-color: white;
    }

    .containerLink {
      display: flex;
      justify-content: right;
      margin-top: 20px;
      .linkVideo {
        background-color: $colorAzul4;
        border-color: $colorAzul4;
        color: white;
        margin-right: 0;
      }
    }
  }
}

.botonPrimary {
  background-color: $colorAzul1;
  border: 2px solid $colorAzul1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 10px 0 10px;
  font-family: latoBold;
  font-size: 1rem;
  color: white;
  height: 43px;
  width: 150px;
}

.botonPrimary {
  transition: all 0.2s ease-in-out;
}
.botonPrimary:hover {
  transform: scale(1.05);
}

.btn-link {
  transition: all 0.2s ease-in-out;
}
.btn-link:hover {
  transform: scale(1.05);
  
}

.botonSecondary {
  background-color: none;
  border: 2px solid $colorAzul1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 10px 0 10px;
  font-family: latoBold;
  font-size: 1rem;
  color: $colorAzul1;
  height: 43px;
  width: 150px;
  margin-right: 15px;
}

.botonSecondary {
  transition: all 0.2s ease-in-out;
}
.botonSecondary:hover {
  transform: scale(1.05);
}

.botonDisable {
  background-color: none;
  border: 2px solid $colorGris3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 10px 0 10px;
  font-family: latoBold;
  font-size: 1rem;
  color: $colorGris3;
  height: 43px;
  width: 150px;
  margin-right: 15px;
}

.botonVisibleNone{
  display: none;
}

.contenidoCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.contBotonera {
  display: flex;
  justify-content: flex-end;
  .botonera {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    .botonDisable,
    .botonPrimary {
      margin-right: 0 !important;
    }
  }
}

.contenidoDestacado {
  background-color: $colorAzul4;
  font-family: latoRegularItalic;
  border: 1px solid $colorAzul4;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
  margin-left: 10%;
  p {
    color: white;
    font-family: latoRegularItalic;
  }
}

.contenidoDestacado2 {
  background-color: $colorRojo2;
  font-family: latoRegularItalic;
  border-radius: 20px;
  padding: 25px;
  p {
    color: white;
    font-family: latoRegularItalic;
  }
}

article {
  margin-bottom: 20px;
}

.destacado {
  font-family: latoBoldItalic;
}
/* 
**********************
**********************
 start - css del home
**********************
**********************
 */
.mainHome{
  background-color: #00499d;
  width: 100%;
  height: calc(100vh - 52px);
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  
  .container{
    width: 60%;
    padding: 0;
    video{
      background-color: #1F2F59;
      border-radius: 20px;
    }
  }
  .subContainer2{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .subContainer1{
    display: flex; 
    align-items:flex-end;
    margin-bottom: 20px;
    align-content: flex-end;
  }

  .botonPrimary{
    background-color: #FF1634;
    border-color: #FF1634;
  }
  h1{
    color: white;
    margin-right: 15px;
  }

  .figuraOndas{
    position: absolute;
    float: left;
    left: 0;
    bottom: 0;
  }
  .figuraEstrellitas1{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
  }

  
}

.footerHome{
  .footerIzquierdo, .footerContainer{
    background-color: #0059ed;
  }
}
/* 
**********************
**********************
  end - css del home
**********************
**********************
 */

.contenedorHome {
  width: 100%;
  min-height: calc(100vh);
  background-color: $colorAzul1;
  /* padding-bottom: 56.85px; */
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .contenidoHome {
    width: 85%;
    
    ul {
      margin-top: 25px;
      list-style: none;
      display: flex;
      li {
        margin-right: 50px;
        margin-left: 50px;
      }
    }
    h2 {
      font-family: latoBlack;
      font-size: 4rem;
      color: white;
      margin-bottom: 0;
    }
    h3 {
      font-family: latoBold;
      font-size: 3rem;
      color: $colorAzul4;
      margin-top: 0;
    }
    p {
      margin-top: 50px;
      margin-bottom: 50px;
      color: white;
      font-family: latoRegular !important;
    }
    #globoRojo {
      background-color: $colorRojo1;
      font-family: latoRegular;
      font-size: 1.2rem;
      color: white;
      border-radius: 20px 20px 20px 0;
      padding: 15px;
      margin: 20px 0 0 0px;
      max-width: 425px;
    }
    .piquitoGloboRojo {
      content: "";
      /* position: absolute; */
      width: 0;
      height: 20px;
      border-top: 20px solid $colorRojo1;
      border-right: 20px solid transparent;
      border-left: 0px solid transparent;
    }

    .speechBotonera {
      color: white;
      font-family: latoRegular;
      font-size: 1.2rem;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .botoneraHome {
      #botonHome1 {
        background-color: $colorAzul2 !important;
        border-color: $colorAzul2 !important;
        margin-left: 25px;
        width: 100%;
      }
      #botonHome2 {
        background-color: $colorAzul4 !important;
        border-color: $colorAzul4 !important;
        margin-left: 25px;
        width: 100%;
      }
      #botonHome3 {
        background-color: $colorAzul3 !important;
        border-color: $colorAzul3 !important;
        margin-left: 25px;
        width: 100%;
      }
      #botonHome4 {
        background-color: $colorRojo1 !important;
        border-color: $colorRojo1 !important;
        margin-left: 25px;
        width: 100%;
      }
      #botonHome5 {
        background-color: $colorGris2 !important;
        border-color: $colorGris2 !important;
        margin: 0 25px 0 25px;
        width: 100%;
      }
    }
  }
}

.portadaInicial {
  background-color: #1e2f59 !important;
  width: 100%;
  height: 100vh !important;
  /*     display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden; */
  a {
    position: absolute;
    bottom: 50px;
    float: left;
  }
}

.msjRotar {
  background-color: $colorAzul6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: none;
  .contMsjRotar {
    text-align: center;
    margin: 0 20px 0 20px;
    padding: 50px 25px 50px 25px;
    border-radius: 20px;
    color: white;
    background-color: white;
    .circuloMsjRotar {
      background-color: #daf2fc;
      width: 200px;
      height: 200px;
      border-radius: 85%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      img {
        width: 50%;
      }
      video {
        width: 50%;
      }
    }
    h3 {
      margin-top: 25px !important;
      color: $colorAzul6;
      font-family: latoBold;
      font-size: 1.5rem !important;
    }
    p {
      margin-bottom: 25px !important;
    }
    .botonSecondary {
      text-align: center;
      margin: 0;
    }
  }
  .firuleteVoladorIzq {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 75px;
  }
  .firuleteVoladorDer {
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: 75px;
  }
}

.containerTest {
  background-color: $colorAzul6;
  width: 100%;
  padding: 25px 50px 25px 50px;
  border-radius: 20px 0 20px 0;
  display: flex;
  .textTest {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-right: 15px;
    margin: 0;
    h3 {
      font-size: 2.5rem !important;
      font-family: latoBold;
      color: white;
      margin-bottom: 35px;
    }
    p {
      color: white;
    }
    .buttonsTest {
      margin-top: 35px;
      display: flex;
      justify-content: start;
    }
    .color1 {
      background-color: $colorAzul4;
      border: 1px solid $colorAzul4;
    }
    .color2 {
      margin-left: 15px;
      background-color: $colorAzul3;
      border: 1px solid $colorAzul3;
    }
  }
  .imgTest {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    img {
      max-height: 100%;
      width: 100%;
      max-width: 350px;
    }
  }
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  display: none;
  width: 100%;
  background-color: $colorAzul1;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

/* inicio - icono menu */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $colorGris5;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 20px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* fin - icono menu */

.visiblePortrait{
  display: none;
}


footer{
  position: fixed;  
  bottom: 0;
  left: 0;
  width: 100%;
 }
/* @media only screen and (max-width: 767px) and (orientation: landscape){ */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  /* Caption text */
  .fullContainer {
    height: 100%!important;
  }
  .containerCards{
    .card{
      .container{
        h4{
          font-size: 1rem;
        }
        p{
          font-size: 1rem;
        }
      }
    }
  }


  .containerIconoMasTexto{
    .caja1{
      width: 30%!important;
      img{
        width: 100%!important;
      }
    }
    .caja2{
      width: 100%;
    }
  }


  .imgCentrada50{
    img{
      width: 80%!important;
    }
  }

/*   .contBotonera{
    margin-bottom: 50px;
  } */
  /* 
**********************
**********************
 start - css del home
**********************
**********************
 */



 .mainHome{  
  background-color: #00499d;
  width: 100%;
  height: calc(100vh - 52px);
  min-height: 450px;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  
  .container{
    width: 50%;
    padding: 0;
    min-height: 400px;
    video{
      background-color: #1F2F59;
      border-radius: 20px;
    }
    h1{
      font-size: 1.2rem;
    }
    #firulete{
      display: none;
    }
  }
  .subContainer2{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .subContainer1{
    display: flex; 
    align-items:flex-end;
    margin-bottom: 20px;
    align-content: flex-end;
  }
  .botonPrimary{
    background-color: #FF1634;
    border-color: #FF1634;
  }
  h1{
    color: white;
  }

  .figuraOndas{
    position: absolute;
    float: left;
    left: 0;
    bottom: 0;
  }
  .figuraEstrellitas1{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
  }

  
}


.footerHome{
  .footerIzquierdo, .footerContainer{
    background-color: #0059ed;
  }
}
/* 
**********************
**********************
  end - css del home
**********************
**********************
 */

 footer{
  position: initial!important;  
 }

  .text {
    .subText {
      max-width: 50%;
    }
  }

  .lateralNavMobile {
    width: 100% !important;
    min-width: 100% !important;
    nav{
      width: 100%;
      .accordion{
        width: 100%;
      }
    }
    ul {
      list-style: none;
      li {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .accordion {
    .card {
      background-color: $colorAzul6 !important;
      border: none !important;
      width: 100% !important;
      margin: 0 !important;
    }
    .card-header {
      color: white !important;
      background-color: $colorAzul1 !important;
    }
    .btn-link {
      color: white;
      font-size: 1.3rem;
    }
  }

  .containerLogo {
    width: 127px;
  }
  .principalContainer {
    padding-bottom: 0;
  }
  main {
    _padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
  }
  .izqPortada {
    display: none;
  }
  .titPortada {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .visibleInSmallScreen {
    display: initial;
  }

  .visibleInBigScreen {
    display: none;
  }

  .portadaInicial {
    width: 100%;
    background-image: url(../img/backgrounds/inicioMovil.gif);
    background-color: #1e2f59 !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 100px;
    z-index: 10000;
  }

  section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .titulo {
    font-size: 1.2rem;
  }
  .navbar-brand {
    margin-top: -13px !important;
    margin-bottom: -13px !important;
    margin-left: -28px !important;
  }
  /*   .subtitulo {
    font-size: 1.2rem;
  } */

  .Botonera {
    background-color: red;
    width: 100%;
    display: inline-block;
  }

  .contenedorHome {
    /* height: 100%;     */
    .contenidoHome {
      .speechBotonera {
        margin-top: 50px;
        text-align: center;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      ul {
        margin: 0;
      }
      .botoneraHome {
        width: 100%;
        padding: 0 0 0 0;
        margin: 0;
        /*         a{
          padding: 0;
        } */
        #botonHome1 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome2 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome3 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome4 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome5 {
          margin: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .contenidoCentrado {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .bannerTituloDestacado {
    .firuleteDestacado {
      display: none;
    }
  }

  .olNumbers {
    padding-left: 5px;
    li {
      align-items: flex-start;
      margin-bottom: 15px;
      margin-left: 0;
    }
  }
  .ruta {
    margin-left: -25px !important;
  }
  .mainContainer{
    padding-top: 0;
    padding-bottom: 0!important;
  }
}

/* @media only screen and (max-width: 767px) and (orientation: portrait){ */
@media only screen and (max-width: 1000px) and (orientation: portrait) {
  .visiblePortrait{
    display: initial;
  }
  .visibleLandscape{
    display: none;
  }
  /*
  **********************
  **********************
   start - css del home
  **********************
  **********************
   */
  .mainHome{
    background-color: #00499d;
    width: 100%;
    height: calc(100vh - 52px);
    min-height: 500px ;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    .container{
      width: 90%;
      padding: 0;
      video{
        background-color: #1F2F59;
        border-radius: 20px;
      }
      h1{
        font-size: 2rem;
        margin-bottom: 0!important;
      }
      #fanGotitas{
        width: 100px;
      }
      #firulete{
        display: none;
      }
    }
    .subContainer2{
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .subContainer1{
      display: flex; 
      align-items:flex-end;
      margin-bottom: 50px;
      align-content: flex-end;
      justify-content: center;
    }




    .botonPrimary{
      background-color: #FF1634;
      border-color: #FF1634;
    }
    h1{
      color: white;
    }
  
    .figuraOndas{
      position: absolute;
      float: left;
      left: 0;
      bottom: 0;
    }
    .figuraEstrellitas1{
      position: absolute;
      float: right;
      right: 0;
      top: 0;
    }
  
    
  }
  
  .footerHome{
    
    .footerIzquierdo, .footerDerecho, .footerContainer, .footerContainer, .footerHome{
      background-color: #0059ed!important;      
    }
    .footerContainer{
      display: inline;
      margin: 0;
      padding: 0;
     
    }
    
    .footerDerecho{
      display: none;
    }

    .footerIzquierdo{
      max-width: 100%;
      height: 52px;
      border-radius: 0;
      margin: 0;
      border: 0;
      
    
      
      img{
        width: 75%;
      }
      .textFooter{
        text-align: center;
        width: 100%;
      }
    }
  }
  /* 
  **********************
  **********************
    end - css del home
  **********************
  **********************
   */

/* 
  footer {
    margin: 0;
    padding: 0;
    background-color: $colorAzul4;
    .footer {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      .footerIzquierdo {
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .textFooter {
          font-size: 0.9rem;
        }
      }
      .footerDerecho {
        height: 56px;
        padding-top: 5px;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        .brands {
          max-width: 90%;
          img {
            text-align: center;
          }
        }
      }
    }
  }
 */
  /* .videoHome {
    _display: none !important;
  } */

  .fullContainer {
    display: none;
  }

  .msjRotar {
    display: initial;
    background-color: $colorAzul6;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .contMsjRotar {
      color: white;
    }
  }

  /* inicio - comun al landscape */
  .lateralNavMobile {
    width: 100% !important;
    min-width: 100% !important;
    ul {
      li {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .accordion {
    .card {
      background-color: $colorAzul6 !important;
      border: none !important;
      width: 100% !important;
      margin: 0 !important;
    }

    .card-header {
      color: white !important;
      background-color: $colorAzul1 !important;
    }
    .btn-link {
      color: white;
      font-size: 1.3rem;
    }
  }

  .containerLogo {
    width: 127px;
  }
  .principalContainer {
    padding-bottom: 0;
  }
  main {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .izqPortada {
    display: none;
  }
  .titPortada {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .visibleInSmallScreen {
    display: initial;
  }

  .visibleInBigScreen {
    display: none;
  }

  .portadaInicial {
    width: 100%;
    background-image: url(../img/backgrounds/inicioMovil.gif);
    background-color: #1e2f59 !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 100px;
    z-index: 10000;
  }

  .fullContainer {
    height: 100% !important;
  }
  section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .titulo {
    font-size: 1.2rem;
  }
  .navbar-brand {
    margin-top: -13px !important;
    margin-bottom: -13px !important;
    margin-left: -28px !important;
  }
  /*   .subtitulo {
      font-size: 1.2rem;
    } */

  .Botonera {
    background-color: red;
    width: 100%;
    display: inline-block;
  }

  .contenedorHome {
    /* height: 100%;     */
    .contenidoHome {
      .container{
        width: 90%;
      }
      .speechBotonera {
        margin-top: 50px;
        text-align: center;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      ul {
        margin: 0;
      }
      .botoneraHome {
        width: 100%;
        padding: 0 0 0 0;
        margin: 0;
        a {
          padding: 0;
        }
        #botonHome1 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome2 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome3 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome4 {
          margin: 0;
          margin-bottom: 10px;
        }
        #botonHome5 {
          margin: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .contenidoCentrado {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .bannerTituloDestacado {
    .firuleteDestacado {
      display: none;
    }
  }

  .olNumbers {
    padding-left: 5px;
    li {
      align-items: flex-start;
      margin-bottom: 15px;
      margin-left: 0;
    }
  }
  .ruta {
    margin-left: -25px !important;
  }

  /* fin - comun al landscape */
}
