<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modals #Fan</title>
</head>
<body>
    <!-- inicio - modal foro -->
    <div id="modalForo" uk-modal>
      <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header uk-text-center">
          <img src="../../media/icons/foroTitulo.svg" alt="titulo"><br>  
          <span class="subtitulo">Consultas #Fan</span>
        </div>
        <div class="uk-modal-body uk-text-center" uk-overflow-auto>
          <div class="containerLink ">
            <div style="width: 100%; text-align: left;">
              <p>En caso de tener <b>consultas sobre el contenido o procesos</b>, utilizá el siguiente espacio para evacuarlas.</p>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
              <a href="https://click.telecom.com.ar/customer/comercial/TECNO/foro/fanonline/questions.php" target="_blank" rel="noopener"><div class="botonPrimary buttonModal1">Ir a #Fan Online</div></a>
            </div>
          </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
        </div>
      </div>  
    </div>
    <!-- fin - modal foro -->
  
    <!-- inicio - modal +info -->
    <div id="modalAyuda" uk-modal>
      <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header uk-text-center">
          <img src="../../media/icons/infoTitulo.svg" alt="titulo"><br>  
          <span class="subtitulo">Información</span>
        </div>
        <div class="uk-modal-body uk-text-center" uk-overflow-auto>
          <div class="containerLink ">
            <div style="width: 100%; text-align: left;">
              <p>Si tenés alguna consulta sobre cómo navegar este espacio, preguntale a tu supervisor inmediato. <br>
                  Para ampliar información de los contenidos, recordá que contás con la <b>Base de Conocimientos de Salesforce</b></p>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
              <a href="https://telecom.force.com/Basedeconocimientos/s/" target="_blank" rel="noopener"><div class="botonPrimary buttonModal1">Ir a la BCS</div></a>
            </div>
          </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
        </div>
      </div>
    </div>
    <!-- fin - modal +info -->
</body>
</html>