<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MSJ Rotar Pantalla #Fan</title>
</head>
<body>
  <img class="firuleteVoladorIzq" src="../../media/icons/firuleteCeleste.svg" alt="firulete">
  <div class="contMsjRotar">
      <div style="display: flex; justify-content: center;">
        <div class="circuloMsjRotar">
          <img src="../../media/icons/rotarPantalla.gif" width="40%" alt="rotar pantalla">
          <!-- <video src="../../media/video/rotarPantalla.mp4" width="40%" autoplay loop></video> -->
        </div>
      </div>
      <h3>¡Girá tu pantalla!</h3>
      <p>Vas a tener una mejor experiencia y visualizar mejor el contenido</p>
      <div style="display: flex; justify-content: center;">
        <a href="/siteCampaniaCambioDePlan/inicio.html"><div class="botonSecondary buttonAzul3">Volver</div></a>
      </div>
  </div>
  <img class="firuleteVoladorDer" src="../../media/icons/firuleteCeleste.svg" alt="firulete">
</body>
</html>