<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Dirección</title>
    <script src="/js/menuCampaniaCambioDePlan.js"></script>
  </head>

<body>     
        <nav>
          <!-- 
          **********************
              START - MENU
          **********************
          -->
          <div class="accordion" id="accordionExample">
            <!--
            ********************************************
                  start - Introducción
            ********************************************
            -->
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="itemMenu">
                      <div class="iconoMenu">
                        <img class="icoMenu" src="../../media/icons/menu/introduccion.svg" alt="Icono Introducción">
                      </div>
                      <div class="nombreMenu">
                        Introducción
                      </div>
                    </div>
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"> <!-- aca se utiliza show para expandir el contenedor -->
                <div class="card-body">
                  <ul>
                    <a id="intro1" href="#" class="linkActive"><li>¿Qué es #Fan?</li></a> <!-- aca se utiliza "linkActive" para identificar la pantalla activa -->
                    <a id="intro2" href="#"><li>Contexto en el tiempo</li></a>
                    <a id="intro3" href="#"><li>Veamos algunos números</li></a>
                    <a id="intro4" href="#"><li>CRM</li></a>
                    <a id="intro5" href="#"><li>¿Quiénes hacen #Fan?</li></a>
                    <a id="intro6" href="#"><li>Vista inicial</li></a>
                    <a id="intro7" href="#"><li>¿Cómo venimos?</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <!--
            ********************************************
                  end - Introducción
            ********************************************
            -->
    
            <!--
            ********************************************
                  start - Herramientas y
                  conceptos útiles
            ********************************************
            -->
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="itemMenu">
                      <div class="iconoMenu">
                        <img class="icoMenu" src="../../media/icons/menu/herramientasYConceptos.svg" alt="Icono Herramientas y conceptos útiles">
                      </div>
                      <div class="nombreMenu">
                        Herramientas y conceptos útiles
                      </div>                  
                    </div>                
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <ul>
                    <a id="herramientas1" href="#" ><li>Introducción</li></a>
                    <a id="herramientas2" href="#" ><li>Ingreso a Salesforce</li></a>
                    <a id="herramientas3" href="#" ><li>¿Cómo busco a un cliente?</li></a>
                    <a id="herramientas4" href="#" ><li>Líneas #Fan en sistemas Legados</li></a>
                    <a id="herramientas5" href="#" ><li>Conceptos útiles</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <!--
            ********************************************
                  end - Herramientas y
                  conceptos útiles
            ********************************************
            -->
    
            <!--
            ********************************************
                  start - Etapas del proyecto y
                  ejes del cambio
            ********************************************
            -->
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="itemMenu">
                      <div class="iconoMenu">
                        <img class="icoMenu" src="../../media/icons/menu/estapasDelProyecto.svg" alt="">
                      </div>
                      <div class="nombreMenu">
                        Etapas del proyecto y ejes del cambio 
                      </div>
                    </div>
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <ul>
                    <a id="etapas1" href="#" ><li>Etapas del proyecto</li></a>
                    <a id="etapas2" href="#" ><li>Gestiones Ejes del Cambio</li></a>
                    <a id="etapas3" href="#" ><li>Validación de identidad</li></a>
                    <a id="etapas4" href="#" ><li>Creación de cliente</li></a>
                    <a id="etapas5" href="#" ><li>Creación de cuenta</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <!--
            ********************************************
                  end - Etapas del proyecto y
                  ejes del cambio
            ********************************************
            -->
    
            <!--
            ********************************************
                  start - Gestiones
            ********************************************
            -->
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <div class="itemMenu">
                      <div class="iconoMenu">
                        <img class="icoMenu" src="../../media/icons/menu/gestiones.svg" alt="">
                      </div>
                      <div class="nombreMenu">
                        Gestiones
                      </div>
                    </div>                
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <ul>
                    <a id="gestiones1" href="#"><li>Cambio de titularidad</li></a>
                    <a id="gestiones2" href="#"><li>Cambio de plan</li></a>
                  </ul>              
                </div>
              </div>
            </div>
            <!--
            ********************************************
                  end - Gestiones
            ********************************************
            -->
    
    
            <!--
            ********************************************
                  start - Asistencia a la Operación
            ********************************************
            -->
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <div class="itemMenu">
                      <div class="iconoMenu">
                        <img class="icoMenu" src="../../media/icons/menu/asistenaciaOperacion.svg" alt="">
                      </div>
                      <div class="nombreMenu">
                        Asistencia a la Operación 
                      </div>
                    </div>                
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <ul>
                    <a id="asistencia1" href="#"><li>Introducción</li></a>
                  </ul>              
                </div>
              </div>
            </div>
            <!--
            ********************************************
                  end - Asistencia a la Operación
            ********************************************
            -->
    
          </div>
          <!-- 
          **********************
              END - MENU
          **********************
          -->
      </nav>

      <script src="/js/menuCampaniaCambioDePlan.js"></script>
</body>
</html>