<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer #Fan</title>
</head>
<body>
    <nav class="footerContainer">            
        <div class="footerIzquierdo">
            <div class="textFooter">Entrenamiento y Scripting &nbsp; <span class="fontRegular"><span class="colorAzul4">|</span>  &nbsp; COO</span></div>
        </div>
        <div class="footerDerecho" >
            <div class="brands"><img src="../../media/icons/footerAllBrands.svg" width="100%" alt="Telecom Brands" ></div>
        </div>
    </nav>    
</body>
</html>