
  <!-- inicio - navbar -->
  <nav>
    <div class="containerHamburger visibleInSmallScreen">
        <div class="subContainerHamburger" onclick="changeMenuIcon(this); myFunction()">           
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>                
        </div>
    </div>
    <div class="containerLogo">
        <div>
          <a href="#">
            <img class="visibleInSmallScreen" src="/media/icons/tituloFancelu.svg" width="100%" height="56px" alt="logo de fan">
            <img class="visibleInBigScreen" src="/media/icons/tituloFan.svg" width="325px" height="56px" alt="logo de Fan" srcset="">
          </a>
        </div>
    </div>
    <!-- <div class="containerForoAndHelp" style="width: 175px;"> -->
    <div class="containerForoAndHelp">
      <div class="subContainerForoAndHelp">
<!--         <a href="/dev/constructor/arquitecto.html" uk-toggle uk-tooltip="title: Arquitecto; pos: top-bottom"><img src="/media/icons/code.svg" width="35px" height="35px" alt="logo del Arquitecto"></a> -->
        <a href="#"><img src="/media/icons/dev.svg" width="35px" height="35px" alt="logo de code"></a>
        <!-- <a href="#"><img src="/media/icons/code.svg" width="35px" height="35px" alt="logo de code"></a> -->
      </div>
    </div>
  </nav>
  <!-- fin - navbar -->
